body {
    background-image: url('../background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.todos {

    width: 600px;
    height: 400px;
    border: 1px solid gray;
    padding: 10px;


}

.todos input {
    margin-right: 10px;

}

.todos p {
    color: gray;
    margin-bottom: 10px;
}


.todos .infos {

    margin-top: 10px;

}

.todos .infos .indexs {
    margin-right: 10px;
}

.styles {

    border: 1px solid gray;
    width: 500px;
    padding: 10px;

}


.main .typeWritter {
    font-size: 30px;
    color: crimson;
}


@media only screen and (max-width: 600px) {

    .styles {
        width: 350px;
        margin-top: 20px;
    }

    .main .typeWritter {
        display: none;
    }
}