body {
  /* background-image: url('./background1.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.middle_flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.only_flex{
  display: flex;
}

.right_flex{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.left_flex{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.top_flex{
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.bottom_flex{
  display: flex;
  align-items: end;
  justify-content: center;
}
.top_right_flex{
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}
.top_left_flex{
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.bottom_right_flex{
  display: flex;
  align-items: end;
  justify-content: flex-end;
}
.bottom_left_flex{
  display: flex;
  align-items: end;
  justify-content: flex-start;
}

.between_flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.around_flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
}




/* ::-webkit-scrollbar{
  display: none;
} */









